<!-- data binding is the communication between html and type script 
if we want typescript to html then we do string interpolitaion or property binding 
if we want to do html to typescript then we do event binding -->

<!-- property binding here we use disabled in square brackets because we do its proterty binding here
  use string interpolation for outputiing and print some text in html
  use property binding if we want to change some property then use property binding 
-->
 <!-- event binding it is done using () brackets it i s used to communicate from html to typescript -->

<!-- passing data with $event (input)and using it with (<HTMLInputElement>event.target).value -->

 <!-- we use [(ngModel)]  for two way data binding which will change html and type script both -->
 <!-- 2way data binding change in the model make change in the view change in the view change in the model -->
 <!-- EVENTBINDING -->
 <label>Server name</label>
<input type="text" class="form-control" (input)="onUpdateServerName($event)">
<p> {{ serverName }} </p>

<!-- two way data binding -->
<label>Server name</label>
<input type="text" class="form-control" [(ngModel)]="serverName">

<p> {{ serverName }} </p>

<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">
  Add Server
</button>
<p>{{ serverCreationStatus }}</p>
<!-- <p>{{ allowNewServer }}</p> string interpolation
<p [innerText]=" allowNewServer "></p> property binding--> 
<app-server></app-server>
<app-server></app-server>

